#footer {
  background-color: #333;
  text-align: center;
  padding: 50px 0;
  position: relative;
  padding: 35px 0; }
  #footer .copyright {
    /* @include roboto(1rem,400,#fff); */
    line-height: normal;
    margin: 0;
    padding: 25px 0; }
  #footer .ssl {
    line-height: 100%;
    margin: 0;
    padding: 0; }
